# macOS system files
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# ROS build files
build/
install/
log/

# ROS bag files
*.mcap
rosbag2_*/

# Colcon build metadata
.colcon/
